@model IEnumerable<Book.Business.DTO.CreateBookDTO>
@{

    ViewData["Title"] = "Home Page";

}
<style>
    .category-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        font-size: 18px;
        font-weight: 500;
    }

        .category-filter a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }

            .category-filter a:hover,
            .category-filter a.active {
                color: #fff;
                background-color: #ff6600;
            }

    .card {
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        height:400px;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .stars i {
        font-size: 14px;
    }

</style>

<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Best Offer</h4>
                <h2>New Arrivals On Sale</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Flash Deals</h4>
                <h2>Get your best products</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Last Minute</h4>
                <h2>Grab last minute deals</h2>
            </div>
        </div>
    </div>
</div>
<div class="latest-products">
    <div class="category-filter">
        <a asp-action="Index" asp-controller="Home">All Books</a>
        @foreach (var category in ViewBag.categorydata)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-categoryId="@category.Value">@category.Text</a>
        }
    </div>
</div>

    <div class="container mt-3">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card shadow-lg border-0 w-30" >
                        <a href="#">
                            <img src="~/@item.FrontImage" class="card-img-top" alt="@item.Name" style="height: 200px; object-fit: cover; border-radius:3px">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Name</h5>
                            <h6 class="text-danger fw-bold">
                                <i class="fa-solid fa-indian-rupee-sign"></i> @item.price
                            </h6>

                            <ul class="list-inline stars mb-2">
                                <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                            </ul>

                            <div class="d-flex justify-content-center">
                                <a asp-action="Details" asp-controller="Home" class="btn btn-outline-primary btn-sm me-2" asp-route-id="@item.Id">
                                    Details
                                </a>
                                <a asp-action="AddCart" asp-controller="Cart" class="btn btn-primary btn-sm" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-cart-shopping"></i> Add To Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>About Book Shop</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Looking for the best products?</h4>
                        <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
                        <ul class="featured-list">
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur an adipisicing elit</a></li>
                            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                            <li><a href="#">Corporis, omnis doloremque</a></li>
                            <li><a href="#">Non cum id reprehenderit</a></li>
                        </ul>
                        <a href="about.html" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="~/Client/assets/images/feature-image.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>




