@model List<OrderDto>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>My Orders</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    @if (Model != null && Model.Count > 0)
    {

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Order Id</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Order Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.TotalAmount</td>
                        <td>@order.OrderStatus</td>
                        <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@order.Id">Details</a>
                        </td>
                    </tr>
                }
                

            </tbody>
        </table>
    }
    else
    {
        <h2>Order Is Not Found</h2>
    }
</div>